<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <%- include("../_header.ejs")%>
    <h1>Receptionist Dashboard</h1>
    <section class="bookings">
      <h2>Recent Bookings</h2>
      <div class="dash-stats">
        <div class="dash-stat">
          <h3>Total Bookings</h3>
          <p><%=spotbookingd.length + roombookings.length%></p>
        </div>
        <div class="dash-stat">
          <h3>Room Bookings</h3>
          <p><%=roombookings.length%></p>
        </div>
        <div class="dash-stat">
          <h3>Spot Bookings</h3>
          <p><%=spotbookings.length%></p>
        </div>
        <div class="dash-stat">
          <h3>Current Checkins</h3>
          <p><%= totalCheckins%></p>
        </div>
      </div>
      <h3>Spots</h3>
      <table class="spot-bookings-table">
        <tr>
          <th>Booking ID</th>
          <th>Client Name</th>
          <th>Spot Name</th>
          <th>Booking Date</th>
          <th>Booking Status</th>
          <th>Payment Status</th>
          <th>Actions</th>
        </tr>
        <% spotbookings.forEach(booking=>{%>
        <tr>
          <td><%=booking._id%></td>
          <td><%=booking.clientName%></td>
          <td><%=booking.spotName%></td>
          <td><%=booking.bookingDate.toDateString()%></td>
          <td><%=booking.status%></td>
          <td><%=booking.paymentStatus%></td>
          <td>
            <a href="/reception/confirmspotcheckin/<%=booking._id%>"
              >Check in</a
            >
            <a href="/confirmspotcheckout/<%= booking._id%>">Check Out</a>
          </td>
        </tr>
        <%})%>
      </table>
      <h3>Rooms</h3>
      <table class="room-bookings-table">
        <tr>
          <th>Booking ID</th>
          <th>Client Name</th>
          <th>Spot Name</th>
          <th>Booking Date</th>
          <th>Booking Status</th>
          <th>Payment Status</th>
          <th>Actions</th>
        </tr>
        <% spotbookings.forEach(booking=>{%>
        <tr>
          <td><%=booking._id%></td>
          <td><%=booking.clientName%></td>
          <td><%=booking.roomName%></td>
          <td><%=booking.bookingDate.toDateString()%></td>
          <td><%=booking.status%></td>
          <td><%=booking.paymentStatus%></td>
          <td>
            <a href="/reception/confirmroomcheckin/<%=booking._id%>"
              >Check in</a
            >
            <a href="/confirmroomcheckout/<%= booking._id%>">Check Out</a>
          </td>
        </tr>
        <%})%>
      </table>
    </section>
    <!--
    view bookings and status
    view booking payment-->
  </body>
</html>
